In [1]:
import pandas as pd

In [2]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
citibike_data = pd.read_csv('201908-citibike-tripdata.csv')

In [5]:
# 2. Check the datatypes of your columns. 
citibike_data.sample(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
983271,158,2019-08-13 18:21:31.3620,2019-08-13 18:24:09.7130,389.0,Broadway & Berry St,40.710446,-73.965251,3078.0,Broadway & Roebling St,40.709248,-73.960631,26139,Subscriber,1953,2
1977007,565,2019-08-27 07:13:09.9710,2019-08-27 07:22:35.5410,297.0,E 15 St & 3 Ave,40.734232,-73.986923,3687.0,E 33 St & 1 Ave,40.743227,-73.974498,39133,Subscriber,1995,2
1026489,330,2019-08-14 10:19:02.7300,2019-08-14 10:24:33.0230,3163.0,Central Park West & W 68 St,40.773407,-73.977825,3724.0,7 Ave & Central Park South,40.766741,-73.979069,32487,Subscriber,1944,1

In [6]:
citibike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 268.3+ MB

In [7]:
citibike_data.tripduration.head()

0     393
1     627
2    1132
3    1780
4    1517
Name: tripduration, dtype: int64

In [8]:
# 3. Convert the 'tripduration' column to datetime datatype.
citibike_data.tripduration = pd.to_datetime(citibike_data.tripduration, unit='m')

In [9]:
# 4. Check the datatypes of your columns. 
citibike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             datetime64[ns]
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: datetime64[ns](1), float64(6), int64(3), object(5)
memory usage: 268.3+ MB

In [10]:
# 5. Export the Dataframe as a new CSV file without the index.
citibike_data.to_csv('citibike_tripdata.csv', index=False)